Repository w3c/sparql-query, pull requests merged in 2023-06, with the labels that each got.

#87 Blank node syntax
  spec/index.html
Labels: spec:editorial

#89 Upgrades references to XPath from 2.0 to 3.1
  spec/index.html
Labels: spec:substantive

#104 README.md - add link to UCR and use "documents"
  README.md
Labels: spec:editorial

#98 Turn the input to Group(..) and to Aggregation(..) into solution sequences
  spec/index.html
Labels: spec:substantive

#97 Removes the historical notes on rdf:langString datatype
  spec/index.html
Labels: spec:editorial

#93 Adds a note on deduplication of triples produced by CONSTRUCT
  spec/index.html
Labels: spec:substantive

#85 Migrates XML Schema references to 1.1 and cleans up anchors
  spec/index.html
Labels: spec:editorial, spec:substantive
