Repository w3c/sparql-query, pull requests merged in 2023-05, with the labels that each got.

#61 Use RDF 1.2 terminology
  spec/index.html
Labels: spec:editorial

#64 FPWD
  publication-snapshots/FPWD/Overview.html
Labels: ms:FPWD

#68 Clarify IN and NOT IN
  spec/index.html
Labels: spec:editorial

#65 Clarify wording of bnodes in query templates
  spec/index.html
Labels: spec:editorial

#77 errata-query-5: Aggregate functions can not be nested
  spec/index.html
Labels: spec:editorial

#70 errata-query-4: CONCAT and COALESCE
  spec/index.html
Labels: Errata, spec:editorial

#71 improve display on mobile phones
  spec/index.html
Labels: spec:editorial

#69 Replace 'blank node label' by 'blank node identifier'
  spec/index.html
Labels: spec:editorial, spec:substantive

#81 Errata: projection cardinality
  spec/index.html
Labels: Errata, spec:editorial, spec:substantive

#82 Errata: Definition of Filter
  spec/index.html
Labels: Errata, spec:editorial

#78 Update grammar for quoted triples and triple functions
  spec/index.html
Labels: spec:substantive

#83 Remove duplicate previousPublishDate
  spec/index.html
Labels: spec:editorial
