Repository w3c/sparql-query, pull requests merged in 2024-12, with the labels that each got.

#174 Update section number referred to in F&O
  spec/index.html
Labels: Editorial

#175 Update contributors.
  spec/common/README.md
  spec/common/participants.html
  spec/common/participants.js
Labels: spec:editorial

#172 Functions for the base direction feature
  spec/index.html
Labels: spec:enhancement
